.email-list {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  tr {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
  }
  
  thead {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
  }

  