.email-form {
    margin-bottom: 20px;
  }
  
  .email-form h2 {
    margin-bottom: 10px;
  }
  
  .email-form input[type="email"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .email-form button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    color: rgb(153, 61, 61);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .email-form button:hover {
    background-color: black;
    color: white;
  }
  