.app {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Arial, sans-serif;
}

#root {
  text-align: center;
  background-color: rgb(153, 61, 61);
  color: white;
}

#root::before {
  content: "Redway";
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: #000; 
}